<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Rules - {{ SITE_NAME }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta name="google" content="notranslate">
    <meta http-equiv="Content-Language" content="en">

    {% load static %}
    <link href="{% static "images/logo.png" %}" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Salsa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
        #content::-webkit-scrollbar { width: 0; }
        body {
            font-family: 'Salsa', cursive;
            background: url("{% static "images/background.jpg" %}");
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
            position: relative;
            z-index: 1;
            height: -webkit-fill-available;
        }
        body:before {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.9);
        }
    </style>
</head>

<body>
<!--==========================
Header
============================-->
{% include "header.html" %}

<div class="container">
    <div id="content" style="padding-top: 7vh; padding-bottom: 5vh; display: block; height: 100vh; overflow: auto;">
        <h1 class="text-center">Rules</h1>
        <div class="accordion" id="accordian">
            <div href="#" class="card">
                <div class="card-header">
                    <a data-toggle="collapse" data-target="#format" href="#" style="text-decoration: none;">
                        <h5 class="mb-1 text-dark">Format of the Tournament</h5>
                    </a>
                </div>
                <div id="format" class="collapse" data-parent="#accordian">
                    <div class="card-body">
                        <p class="mb-1">This will be a Group -> Single Elimination tournament and Matches will be held everyday. There are 4 groups of 5 teams each and top 2 teams will advance to the next stage. Each team in a group will play 1 match with every other team in the group. In case if the points clashes in between 2 teams in same group, the team with less rounds lost will be considered to advance to next stage.</p>
                        <small>NCL Management Team will provide a time slot during which the match will be conducted</small>
                    </div>
                </div>
            </div>
            <div href="#" class="card">
                <div class="card-header">
                    <a data-toggle="collapse" data-target="#criteria" href="#" style="text-decoration: none;">
                        <h5 class="mb-1 text-dark">Player Criteria for Teams</h5>
                    </a>
                </div>
                <div id="criteria" class="collapse" data-parent="#accordian">
                    <div class="card-body">
                        <p class="mb-1">Match will be 5 vs 5, all 5 players should be present on the server to start the match and in any case match will not be delayed for more than 10 minutes</p>
                        <small>If less than 5 players are available, the other team wins</small>
                    </div>
                </div>
            </div>
            <div href="#" class="card">
                <div class="card-header">
                    <a data-toggle="collapse" data-target="#maps" href="#" style="text-decoration: none;">
                        <h5 class="mb-1 text-dark">Maps for Tournament</h5>
                    </a>
                </div>
                <div id="maps" class="collapse" data-parent="#accordian">
                    <div class="card-body">
                        <p class="mb-1">For map pick Veto system will be followed which will be done on the server itself.</p>
                        <p class="mb-1">Map Pool:</p>
                        <ul>
                            <li>dust2</li>
                            <li>inferno</li>
                            <li>train</li>
                            <li>nuke</li>
                            <li>mirage</li>
                            <li>cache</li>
                            <li>overpass</li>
                        </ul>
                        <small>Matches will be BO1 for Group Stage</small><br>
                        <small>Matches will be BO3 from the 2nd stage</small><br>
                    </div>
                </div>
            </div>
            <div href="#" class="card">
                <div class="card-header">
                    <a data-toggle="collapse" data-target="#sides" href="#" style="text-decoration: none;">
                        <h5 class="mb-1 text-dark">Choosing Sides in Match</h5>
                    </a>
                </div>
                <div id="sides" class="collapse" data-parent="#accordian">
                    <div class="card-body">
                        <p class="mb-1">CT or T will be decided by a team knife round, players should not camp and try to end it asap</p>
                    </div>
                </div>
            </div>
            <div href="#" class="card">
                <div class="card-header">
                    <a data-toggle="collapse" data-target="#sides" href="#" style="text-decoration: none;">
                        <h5 class="mb-1 text-dark">Player Substitution</h5>
                    </a>
                </div>
                <div id="playerSubstitution" class="collapse" data-parent="#accordian">
                    <div class="card-body">
                        <p class="mb-1">In group stage in case a player is unable to connect then only the captain/VC can call the substitute player in the match. From Quarter stage a team can substitute a player or 2 after a map is played only or during the above circumstances. "No substitute during side change of the match".</p>
                    </div>
                </div>
            </div>
            <div href="#" class="card">
                <div class="card-header">
                    <a data-toggle="collapse" data-target="#results" href="#" style="text-decoration: none;">
                        <h5 class="mb-1 text-dark">Match Results</h5>
                    </a>
                </div>
                <div id="results" class="collapse" data-parent="#accordian">
                    <div class="card-body">
                        <p class="mb-1">First team to win 16 rounds will win that map, OverTime will be conducted in case of a tie, swap after 3 rounds and the first team to win 4 rounds wins the match</p>
                        <small>Infinite OT until either team wins</small>
                    </div>
                </div>
            </div>
            <div href="#" class="card">
                <div class="card-header">
                    <a data-toggle="collapse" data-target="#DDoS" href="#" style="text-decoration: none;">
                        <h5 class="mb-1 text-dark">DDoS in Match</h5>
                    </a>
                </div>
                <div id="DDoS" class="collapse" data-parent="#accordian">
                    <div class="card-body">
                        <p class="mb-1">In case of DDoS or lag the match will be paused and will be resumed from the same score going on</p>
                        <small>In case of server crash we will still resume from the same score</small>
                    </div>
                </div>
            </div>
            <div href="#" class="card">
                <div class="card-header">
                    <a data-toggle="collapse" data-target="#Hacking" href="#" style="text-decoration: none;">
                        <h5 class="mb-1 text-dark">Punishment for Hacking</h5>
                    </a>
                </div>
                <div id="Hacking" class="collapse" data-parent="#accordian">
                    <div class="card-body">
                        <p class="mb-1">If any player is found hacking during a match, then that player will be banned and player's team will will lose that match</p>
                        <small>No Rematch at any Condition</small>
                    </div>
                </div>
            </div>
            <div href="#" class="card">
                <div class="card-header">
                    <a data-toggle="collapse" data-target="#AutoBans" href="#" style="text-decoration: none;">
                        <h5 class="mb-1 text-dark">Auto-Bans by Server</h5>
                    </a>
                </div>
                <div id="AutoBans" class="collapse" data-parent="#accordian">
                    <div class="card-body">
                        <p class="mb-1">If any player gets banned for any script/hacks or for AWP crosshair by server plugin then he will be disqualified from NCL</p>
                        <small>Scroll ducking is not allowed</small>
                    </div>
                </div>
            </div>
            <div href="#" class="card">
                <div class="card-header">
                    <a data-toggle="collapse" data-target="#SteamIDs" href="#" style="text-decoration: none;">
                        <h5 class="mb-1 text-dark">Sharing Steam IDs</h5>
                    </a>
                </div>
                <div id="SteamIDs" class="collapse" data-parent="#accordian">
                    <div class="card-body">
                        <p class="mb-1">Any player found playing from two IDs or someone else playing from registered players ID, the ID will be banned from tournament along with the player he played for</p>
                        <small>We have plugins to track IP addresses</small>
                    </div>
                </div>
            </div>
            <div href="#" class="card">
                <div class="card-header">
                    <a data-toggle="collapse" data-target="#Disputes" href="#" style="text-decoration: none;">
                        <h5 class="mb-1 text-dark">Dispute Resolution</h5>
                    </a>
                </div>
                <div id="Disputes" class="collapse" data-parent="#accordian">
                    <div class="card-body">
                        <p class="mb-1">In case of any kind of dispute in match or regarding any issue faced in between the match should be conveyed by the captain directly to NCL Management Team or in captains group</p>
                        <small>Posts on main group will be ignored</small>
                    </div>
                </div>
            </div>
            <p class="mb-1 text-center">In case of any kind of dispute the decision of NCL Management Team will be FINAL</p>
        </div>

    </div>
</div>


<!--==========================
Footer
============================-->
{% include "footer.html" %}

</body>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>