<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Facebook - {{ SITE_NAME }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% load static %}
    <link href="{% static "images/logo.png" %}" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Salsa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body>
<!--==========================
  Header
============================-->
<header id="header">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">

        <span class="navbar-brand mr-auto">
            {{ SITE_NAME }}
        </span>

    </nav>
</header>

<div class="box-gradient" style="text-align: center;">
    <h3 class="headline">Login Using Facebook</h3><br>
    <a id="loginBtn" href="#" class="connect facebook fb-login-button" data-max-rows="1" data-size="large"
       scope="public_profile,email" data-button-type="login_with">
        <div class="connect__icon">
            <i class="fab fa-facebook-f"></i>
        </div>
        <div class="connect__context">
            <span>Sign in with <strong>Facebook</strong></span>
        </div>
    </a>
</div>
<form id="form">
    {% csrf_token %}
</form>

<!--==========================
Footer
============================-->
{% include "footer.html" %}

<script type="text/javascript" >
    var fbId = {{fbId}};
</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="{% static "js/facebook.js" %}"></script>
</body>
</html>
