<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin Requests - {{ SITE_NAME }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% load static %}
    <link href="{% static "images/logo.png" %}" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Salsa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

</head>

<body>
<!--==========================
Header
============================-->
{% include "header.html" %}

<div class="wrapper" style='font-family: "Righteous", cursive;'>
    <div id="content" style="padding-top: 7vh; padding-bottom: 5vh; display: block">
        <div class="card-columns">
            {% for server_name, players_online, requests, server in servers_ %}
                <div class="card">
                    <div class="card-header bg-dark d-flex" style="background: transparent; justify-content: space-between">
                        <a>{{ server_name }}</a>
                        <a>{{ players_online }}</a>
                    </div>
                    <div class="card-body">
                        {% for steam_id, name, nick, exp, other in requests %}
                            <div>
                                <div class="d-flex text-dark" style="justify-content: space-between">
                                    <a>{{ name }}</a>
                                    <a>{{ nick }}</a>
                                    <a>Exp: {{ exp }}</a>
                                    <a>Admin on other Server: {{ other }}</a>
                                </div>
                                <div class="pt-2 pb-3" style="justify-content: space-between; border-bottom: 1px solid black;">
                                    <button type="button" class="btn btn-dark" id="basic-{{ steam_id }}-{{ server }}">Basic</button>
                                    <button type="button" class="btn btn-dark" id="elite-{{ steam_id }}-{{ server }}">Elite</button>
                                    <button type="button" class="btn btn-dark" id="manager-{{ steam_id }}-{{ server }}">Manager</button>
                                    <button type="button" class="btn btn-dark" id="owner-{{ steam_id }}-{{ server }}">Owner</button>
                                    <button type="button" class="btn btn-dark" id="fullAccess-{{ steam_id }}-{{ server }}">Full Access</button>
                                    <button type="button" class="btn btn-danger" id="ignore-{{ steam_id }}-{{ server }}">Ignore</button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!--==========================
Footer
============================-->
{% include "footer.html" %}

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2@4.0.2/dist/bootstrap-confirmation.min.js"
        integrity="sha256-kXOU25SzGb87lJUwyN168lZkoc8s5XwbNuvt8VaBEl4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</body>
<script>
    $('button').click(function () {
        response = $(this).attr('id');
        currBtn = $(this);

        $.ajax({
            url: 'api/v1/post/adminship_response',
            method: 'post',
            data: {
                'csrfmiddlewaretoken': Cookies.get('csrftoken'),
                'response': response,
            },
            success: function () {
                currBtn.parent().parent().attr('style', 'display: none');
            },
        });
    });
</script>
