<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Manager - {{ SITE_NAME }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% load static %}
    <link href="{% static "images/logo.png" %}" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Salsa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="{% static "css/sidebar.css" %}" rel="stylesheet">

</head>

<body>
<!--==========================
Header
============================-->
{% include "header.html" %}

<div class="wrapper">
    <nav id="sidebar" style="background: #434a50 !important; height: 100vh;">

        <ul class="list-unstyled components" style="padding-top: 7vh; padding-bottom: 4vh;">
            {% for title, title_sm, text, function, active, fa_class in functions %}
                <li id='{{ function }}'>
                    <a href='#' function='{{ function }}' title="{{ text }}" class='api-call'>
                        <i class='{{ fa_class }}'></i>
                        <x>{{ title }}</x>
                        <y>{{ title_sm }}</y>
                    </a>
                </li>
            {% endfor %}
        </ul>

    </nav>

    <div id="content" style="padding-top: 7vh; padding-bottom: 4vh; display: block">
        <div class="card-columns">
            {% for title, title_sm, text, function, active, fa_class in functions %}
                <div class="card bg-transparent">
                    <h4 class="card-header"><i class='{{ fa_class }}'></i> <i>{{ title }}</i></h4>
                    <div class="card-body">
                        <p class="card-text">{{ text }}</p>
                    </div>
                    <div class="card-footer bg-transparent">
                        <a href='#' function="{{ function }}" class="btn btn-dark w-100 api-call">Open</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>

<!--==========================
Footer
============================-->
{% include "footer.html" %}


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2@4.0.2/dist/bootstrap-confirmation.min.js"
        integrity="sha256-kXOU25SzGb87lJUwyN168lZkoc8s5XwbNuvt8VaBEl4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="{% static "js/manage.js" %}">

</script>
</body>
</html>
