<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ SITE_NAME }} | New Team</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% load static %}
    <link href="{% static "images/logo.png" %}" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Salsa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

</head>

<body>
<!--==========================
Header
============================-->

<header id="header">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">

        <span class="navbar-brand mr-auto">
            {{ SITE_NAME }}
        </span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Teams">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Matches">Matches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="#">Fixtures</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" id="logoutBtn" href="/logout">Logout</a>
                </li>
            </ul>
        </div>

    </nav><!-- #nav-menu-container -->
</header><!-- #header -->

<div class="box-gradient wide">
    <form action="#" method="POST" onsubmit="return photoValidate()">
        {% csrf_token %}
        <div class="form-head" style="display: table; margin: 3vw auto; text-align: center;">
            <a id='my-headings'>Team Details</a>
        </div>
        <div class="form-tab">
            <label for="usr" class="form-tab-label">Team Name: &nbsp;&nbsp;</label>
            <input type="text" class="button_form" placeholder="Enter Full Team Name Here" id="usr" name="usr" required
                   value="{{ team_name }}">
            <p style="color: red;">{{ Team_name_exists }}</p>
        </div>
        <div class="form-tab">
            <label for="tag" class="form-tab-label">Team Tag: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" class="button_form" placeholder="Enter Tag of Your Team Here" id="tag" name="tag"
                   required value="{{ team_tag }}">
            <p style="color: red;">{{ Team_tag_exists }}</p>
        </div>
        <div class="form-tab">
            <label for="logo_url" class="form-tab-label">Logo URL: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" class="button_form" placeholder="Paste URL of High Quality Image of your Team's Logo"
                   name="logo_url" id="logo_url" required value="{{ logo_url }}">
        </div>
        <div style="text-align: center;">
            <div class="form-tab">
                <img id="logo_show" style="width:0; height: 0; visibility:hidden;" alt="" src="">
            </div>
            <input type="submit" value="Create Team" class="btn btn-success" style="width: 20%; margin-right: 2%;">
            <a href="/Home" class="btn btn-secondary" style="width: 20%;">Back</a>
        </div>
        <br>
    </form>
</div>

<!--==========================
Footer
============================-->
{% include "footer.html" %}


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

<script>
    let isPhoto = false;

    function testImage(url, timeoutT) {
        return new Promise(function (resolve, reject) {
            const timeout = timeoutT || 5000;
            let timer, img = new Image();
            img.onerror = img.onabort = function () {
                clearTimeout(timer);
                $("#logo_show").attr("style", "width:0vh; height: 0vh;visibility: hidden;");
                isPhoto = false;
            };
            img.onload = function () {
                clearTimeout(timer);
                resolve("success");
                isPhoto = true;
                $("#logo_show").attr("style", "width:30vh; height: 30vh;visibility: inherit;").attr("src", url);
            };
            timer = setTimeout(function () {
                $("#logo_show").attr("style", "width:0vh; height: 0vh; visibility: hidden;");
            }, timeout);
            img.src = url;
        });
    }

    $(document).ready(function () {
        $('#logo_url').keyup(function () {
            const search = $(this).val();
            if (search !== '') {
                testImage(search, 300);
            } else {
                $("#logo_show").attr("style", "width:0vh; height: 0vh;visibility: hidden;");
            }
        });
    });

    function photoValidate() {
        if (isPhoto)
            return true;
        else {
            window.alert('Enter Valid Image URL to continue.');
            return false;
        }
    }
</script>