<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ SITE_NAME }} | New Team</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% load static %}
    <link href="{% static "images/logo.png" %}" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Salsa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

</head>

<body>
<!--==========================
Header
============================-->
{% include "header.html" %}

<div class="card bg-dark w-50 p-3 pr-5 pl-5">
    <form action="#" method="POST" onsubmit="return validate()">
        {% csrf_token %}
        <div class="form-head" style="display: table; margin: 1vw auto; text-align: center;">
            <a id='my-headings'>Team Details</a>
        </div>
        <div class="form-group">
            <label for="id_" class="form-group-label">Team Id:</label>
            <input type="text" class="form-control" placeholder="Enter a ID Here" id="id_" name="id_" required
                   value="{{ team_id }}" autocomplete="off">
            <small>Your team's URL would be: {{ site_url }}/Teams/</small><small id="small_id_"></small><br>
            <small class="invalid-feedback" style="color: red;">Should only contain A-Z, a-z and _</small>
            <small style="color: red;">{% if Team_id_exists %}Team with this id already exists!{% endif %}</small>
        </div>
        <div class="form-group">
            <label for="usr" class="form-group-label">Team Name:</label>
            <input type="text" class="form-control" placeholder="Enter Full Team Name Here" id="usr" name="usr" required
                   value="{{ team_name }}" autocomplete="off">
            <small style="color: red;">{% if Team_name_exists %}Team with this name already exists!{% endif %}</small>
        </div>
        <div class="form-group">
            <label for="tag" class="form-group-label">Team Tag:</label>
            <input type="text" class="form-control" placeholder="Enter Tag of Your Team Here" id="tag" name="tag"
                   required value="{{ team_tag }}" autocomplete="off">
            <p style="color: red;">{% if Team_tag_exists %}Team with this tag already exists!{% endif %}</p>
        </div>
        <div class="form-group">
            <label for="logo_url" class="form-group-label">Logo URL:</label>
            <input type="text" class="form-control" placeholder="Paste URL of High Quality Image of your Team's Logo"
                   name="logo_url" id="logo_url" required value="{{ logo_url }}">
            <small class="invalid-feedback" style="color: red;">Please validate the URL</small>
        </div>
        <div style="text-align: center;">
            <div class="form-group">
                <img id="logo_show" style="width:0; height: 0; visibility:hidden;" alt="" src="">
            </div>
            <input type="submit" value="Create Team" class="btn btn-success" style="width: 20%; margin-right: 2%;">
            <a href="/Home" class="btn btn-secondary" style="width: 20%;">Back</a>
        </div>
        <br>
    </form>
</div>

<!--==========================
Footer
============================-->
{% include "footer.html" %}


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

<script src="{% static "js/load_photo_create_team.js" %}"></script>

</html>
