<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Edit Team - {{ SITE_NAME }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% load static %}
    <link href="{% static "images/logo.png" %}" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Salsa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="{% static "css/style.css" %}" rel="stylesheet">

</head>

<body>
<!--==========================
Header
============================-->
{% include "header.html" %}

<div class="card bg-dark wide mt-3 p-3 pr-5 pl-5">
    <form action="#" method="POST" onsubmit="return photoValidate()">
        {% csrf_token %}
        <div class="form-head" style="display: table; margin: 1vw auto;">
            <a id='my-headings'>Team Details</a>
        </div>
        <div class="form-group">
            <label for="usr" class="form-tab-label">Team Name: &nbsp;&nbsp;</label>
            <input type="text" class="form-control" placeholder="Enter Full Team Name Here" id="usr" name="usr"
                   required value="{{ team_name }}">
        </div>
        <div class="form-group">
            <label for="tag" class="form-tab-label">Team Tag: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" class="form-control" placeholder="Enter Tag of Your Team Here" id="tag" name="tag"
                   required value="{{ team_tag }}">
        </div>
        <div class="form-group">
            <label for="logo_url" class="form-tab-label">Logo URL: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" class="form-control" placeholder="Paste URL of High Quality Image of your Team's Logo"
                   name="logo_url" id="logo_url" required value="{{ team_logo_url }}">
        </div>
        <div style="text-align: center;">
            <div class="form-group">
                <img id="logo_show" style="width:0; height: 0; visibility:hidden;" alt="" src="">
            </div>
            <input type="submit" value="Confirm" class="btn btn-success" style="margin-right: 2%;">
            <!--suppress HtmlUnknownTarget -->
            <a href="manage" class="btn btn-secondary">Back</a>
        </div>
        <br>
    </form>
</div>

<!--==========================
Footer
============================-->
{% include "footer.html" %}


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="{% static "js/load_photo_edit_team.js" %}"></script>
</body>
