<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ SITE_NAME }} | Manage Team</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% load static %}
    <link href="{% static "images/logo.png" %}" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Salsa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>

<body>
<!--==========================
Header
============================-->
{% include "header.html" %}

<div class="bg-dark p-5 wide">
    <div style="background: rgba(10,10,10,0.9); padding: 1rem .5rem;; margin: 0 auto;">
        <img src="{{ team_logo_url }}" height="30vh" width="30vh" style="height: 4vh; width: 4vh;" alt="">
        <a id="my-headings"> {{ team_name }} ({{ team_tag }}) </a>
        <!--suppress HtmlUnknownTarget -->
        <a href="edit" class="btn btn-dark" role="button" style="float: right;">
            <i class="far fa-edit"></i>
        </a>
    </div>
    <br>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Facebook</th>
            <th class="steam-details">Steam</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for i, fb_id, name, avatar_url, steam_url_id, username, player_id in players %}
            <tr>
                <td>
                    <img src="https://graph.facebook.com/{{ fb_id }}/picture?type=large" height="30vh" width="30vh" alt="">
                    <a target="_blank" href="https://www.facebook.com/app_scoped_user_id/{{ fb_id }}"> {{ name }}</a>
                </td>
                <td class="steam-details">
                    <img src="{{ avatar_url }}" title="" alt="" height="30vh" width="30vh"/>
                    <a target="_blank" href="https://steamcommunity.com/profiles/{{ steam_url_id }}"> {{ username }}</a>
                </td>
                <td>
                    {% if id != player_id and player_id != captain %}
                        <a href="#" class="btn btn-danger float-right ml-2" role="button"
                           data-toggle="confirmation" id="kick-{{ player_id }}"
                           data-btn-ok-label="Kick!" data-btn-ok-class="btn-danger"
                           data-btn-ok-icon-class="material-icons" data-btn-ok-icon-content="check"
                           data-btn-cancel-label="Cancel" data-btn-cancel-class="btn-primary"
                           data-btn-cancel-icon-class="material-icons" data-btn-cancel-icon-content="close"
                           data-singleton="true"
                           data-title="Are you sure?"
                           data-content="This player will have to request again to join back!"
                           style="font-weight: 700; font-family: Montserrat, sans-serif;">Kick</a>
                        {% if not vice_captain %}
                            <a href="#" class="btn btn-success float-right" role="button"
                               data-toggle="confirmation" id="capt-{{ player_id }}"
                               data-btn-ok-label="Make 2nd Captain!" data-btn-ok-class="btn-success"
                               data-btn-ok-icon-class="material-icons" data-btn-ok-icon-content="check"
                               data-btn-cancel-label="Cancel" data-btn-cancel-class="btn-primary"
                               data-btn-cancel-icon-class="material-icons" data-btn-cancel-icon-content="close"
                               data-singleton="true" data-title="Are you sure?"
                               data-content="This player will become the vice captain for this team!"
                               style="font-weight: 700; font-family: Montserrat, sans-serif;">Make Vice Captain</a>
                        {% elif player_id == vice_captain %}
                            <a href="#" class="btn btn-success float-right" role="button"
                               data-toggle="confirmation" id="rem-{{ player_id }}"
                               data-btn-ok-label="Remove Captain!" data-btn-ok-class="btn-success"
                               data-btn-ok-icon-class="material-icons" data-btn-ok-icon-content="check"
                               data-btn-cancel-label="Cancel" data-btn-cancel-class="btn-primary"
                               data-btn-cancel-icon-class="material-icons" data-btn-cancel-icon-content="close"
                               data-singleton="true" data-title="Are you sure?"
                               data-content="This player will be removed as the vice captain for this team!"
                               style="font-weight: 700; font-family: Montserrat, sans-serif;">Remove Vice Captain</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if players_count == 1 %}
        <div style="text-align: center;"><h3>No Player other than you Found!</h3></div>
        <!--suppress HtmlUnknownTarget -->
        <a href="delete" class="btn btn-danger" role="button" style="font-weight: 700; font-family: Montserrat, sans-serif; width: fit-content; margin: 5vh auto 0;display: block;">Delete Team</a>
    {% endif %}
</div>

<!--==========================
Footer
============================-->
{% include "footer.html" %}


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2@4.0.2/dist/bootstrap-confirmation.min.js"
        integrity="sha256-kXOU25SzGb87lJUwyN168lZkoc8s5XwbNuvt8VaBEl4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</body>
</html>

<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
        container: 'body',

        onConfirm: function (_) {
            const id = $(this).attr('id');

            if (id.match('^kick')) {
                const query = id.replace("kick-", "");

                $.ajax({
                    url: "/TeamFormation/api/v1/func/remove_player",
                    method: "post",
                    data: {
                        'query': query,
                        'csrfmiddlewaretoken': Cookies.get('csrftoken'),
                    },
                    success: function (_) {
                        $('#' + id).text('Kicked!').attr('class', 'btn btn-success');
                        setTimeout(function () {
                            $('a#' + id).closest('tr').remove();
                        }, 1000);
                        setTimeout(function () {
                            if ($("tbody tr").length === 1) {
                                setTimeout(function () {
                                    window.location.reload();
                                }, 1020);
                            }
                        }, 1000);
                    }
                });
            }

            if (id.match('^rem')) {
                const query = id.replace("rem-", "");

                $.ajax({
                    url: "/TeamFormation/api/v1/func/remove_captain",
                    method: "post",
                    data: {
                        'query': query,
                        'csrfmiddlewaretoken': Cookies.get('csrftoken'),
                    },
                    success: function (_) {
                        window.location.reload();
                    }
                });
            }

            if (id.match('^capt')) {
                const query = id.replace("capt-", "");

                $.ajax({
                    url: "/TeamFormation/api/v1/func/make_captain",
                    method: "post",
                    data: {
                        'query': query,
                        'csrfmiddlewaretoken': Cookies.get('csrftoken'),
                    },
                    success: function (_) {
                        window.location.reload();
                    }
                });
            }
        },

        onCancel: function () {
        }
    });
</script>
