<footer>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom justify-content-center">
        <!--suppress HtmlUnknownTarget -->
        <a href='/me' class="fas fa-info text-decoration-none text-light" title="View your Information"></a>
        <ul class="navbar-nav" style="display: list-item; width: 100%; text-align: end;">
            <a target="_blank" href="https://www.facebook.com/sanket.revankar1" title="Contact Me for any Help"
               class="fab fa-facebook-f text-decoration-none" style="color: white; margin: 0 1%;"></a>
            <a target="_blank" href="https://www.youtube.com/c/SanketRevankar" title="Youtube for Match Streams"
               class="fab fa-youtube text-decoration-none" style="color: white;"></a>
        </ul>
    </nav>
</footer>
